doctype html
html
    include ./_includes/_head.jade
    body
        h1 bar.html
        ul
            li: a(href='../index.html') index.html
            li: a(href='foo/foo.html') foo.html
        include ./_includes/_body-bottom.jade
